<div class="container row ">

  <div  class="card d-flex  " style="width: 18rem;" *ngFor="let ad of ads">
    <div class="card-body justify-content-around">
      <img src="{{ad.photos}}" alt="" class="card-img-top">
      <h5 class="card-title">{{ad.title}} </h5>
      <p class="card-text">{{ad.releaseYear | date}} </p>
      <p class="card-text">{{ad.price}}  € </p>
      <p class="card-text">Marque: {{ad.brand.name}}  </p>
      <p class="card-text">Modèle: {{ad.model.name}}  </p>
      <p class="card-text">Carburant: {{ad.fuel.name}}  </p>
      <p>Reference: REF {{ad.id}}</p>
      <button class=" btn btn-outline-primary card-link" [routerLink]="['/annonces', ad.id]">Voir en détails</button>
    </div>
  </div>
</div>
