* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.5s;
}

section .container {
  position: relative;
  width: 1000px;
  height: 700px;
  background: #FFFFFF;
  box-shadow: 0 15px 50px rgba(0,0,0,0.1);
}

section .container .garage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .garage .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
  transition: 0.5s;
}

section .container .garage .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .garage .garageBox {
  position: relative;
  width: 50%;
  height: 100%;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container .garage .garageBox form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: black;
}

section .container .garage .garageBox form input {
  /*position: relative;*/
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .garage .garageBox form input[type="submit"] {
  max-width: 100px;
  background: #800E13;
  background: -moz-linear-gradient(45deg, #800E13 0%, #000000 50%, #083D77 100%);
  background: -webkit-linear-gradient(45deg, #800E13 0%, #000000 50%, #083D77 100%);
  background: linear-gradient(45deg, #800E13 0%, #000000 50%, #083D77 100%);
  color: #f5f5f5;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container .garage .garageBox form .signUp {
  position: relative;
  margin-top: 40px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

section .container .garage .garageBox form .signUp a {
  font-weight: 600;
  text-decoration: none;
  color: darkred;
}
