<section>
  <div class="container">
    <div class="garage addBox">
      <div class="imgBox">
        <img src="assets/images/"  alt="">
      </div>
      <div class="garageBox">
        <form [formGroup]="addForm" (ngSubmit)="addOne()" >
          <h2>Ajout d'un garage</h2>
          <input type="text" formControlName="name" placeholder="Nom">
          <input type="text" formControlName="address" placeholder="Adresse">
          <input type="text" formControlName="phoneNumber" placeholder="Numéro de téléphone">
          <input  type="submit" value="Valider">
<!--          <p class="signUp"><a [routerLink]=" ['/inscription'] ">Valider</a></p>-->
        </form>
      </div>
    </div>
  </div>
</section>
