<header id="header">
  <aside id="aside">
    <form>
    <section class="dpdn-btns container">

      <div class="row">

        <div ngbDropdown class="d-inline-block" >
          <button class="btn btn-outline-primary" id="dropdownBasic1"
                  ngbDropdownToggle>{{brandName}} </button>
          <div ngbDropdownMenu class="overflow-auto" aria-labelledby="dropdownBasic1" >
            <button  (click)="switchBrandName(brand.id, brand.name)"  ngbDropdownItem *ngFor="let brand of brands"
                    [value]="brand.id">{{brand.name}}
            </button>

          </div>
        </div>

      </div>

      <div class="row">

        <div ngbDropdown class="d-inline-block form-group">
          <button class="btn btn-outline-primary" id="dropdownBasic2"
                  ngbDropdownToggle>{{modelName}}</button>
          <div ngbDropdownMenu class="overflow-auto" aria-labelledby="dropdownBasic2">
            <button (click)="switchModelName(model.id, model.name)" ngbDropdownItem *ngFor="let model of models" [value]="model.id">
              {{model.name}}
            </button>

          </div>
        </div>

      </div>

      <div class="row">

        <div ngbDropdown class="d-inline-block" >
          <button class="btn btn-outline-primary" id="dropdownBasic3"
                  ngbDropdownToggle >{{fuelName}}</button>
          <div ngbDropdownMenu class="overflow-auto" aria-labelledby="dropdownBasic3" >
            <button (click)="switchFuelName(fuel.id, fuel.name)" ngbDropdownItem *ngFor="let fuel of fuels" [value]="fuel.id">
              {{fuel.name}}
            </button>

          </div>
        </div>
      </div>
    </section>
    <section class="dpdn-btns container">

      <button class="btn btn-outline-primary">
        <div class="custom-slider">
          <p>Année</p>
          <ngx-slider  [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
        </div>
      </button>
      <button class="btn btn-outline-primary">
        <div class="custom-slider">
          <p>Kilométrage</p>
          <ngx-slider  [(value)]="minValue2" [(highValue)]="maxValue2" [options]="options2"></ngx-slider>
        </div>
      </button>
      <button class="btn btn-outline-primary">
        <div class="custom-slider">
          <p>Prix</p>
          <ngx-slider  [(value)]="minValue3" [(highValue)]="maxValue3" [options]="options3"></ngx-slider>
        </div>
      </button>
    </section>
      <div class="dpdn-btns">
      <button (click)="searchByFilters()"
          class="btn btn-outline-primary" type="submit" > Valider </button>
      </div>
    </form>


  </aside>
</header>


