header {
  background-image: linear-gradient(
    rgba(186, 18, 0, 0.19),
    rgba(7, 66, 145, 0.43)
  ),
  url(../../../src/assets/images/fond_decran2.jpg);
  background-position: center;
  background-size: cover;
}

header #aside {
  padding: 70px;
}

.overflow-auto {
  height:150px;
  overflow-y: scroll;
}

.dpdn-btns {
  display: flex;
  justify-content: space-around;
}

.overflow-auto {
  height:150px;
  overflow-y: scroll;
}

.btn-outline-primary {
  background-image: linear-gradient(to right, #083D77 0%, #000000  51%, #800E13 100%);
  margin: 10px;
  padding: 9px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 160px;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

div.custom-slider  {
  max-width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
