<section>
  <div class="container">
    <div class="user signUpBox">
      <div class="imgBox">
        <img src="assets/images/fond_decran3.jpg"  alt="">
      </div>
      <div class="formBox">
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
          <h2>S'inscrire</h2>
            <input type="text" formControlName="lastname" placeholder="Nom">
            <input type="text" formControlName="firstname" placeholder="Prénom">
            <input type="email" formControlName="email" placeholder="Adresse mail">
            <input type="tel" formControlName="phoneNumber" placeholder="Numéro de téléphone" minlength="10"
                   maxlength="10">
            <input type="text" formControlName="siretNumber" placeholder="Numéro de SIRET">
            <input type="submit" value="S'inscrire">
          <p class="signUp">Vous avez déjà un compte ?<a [routerLink]=" ['/connexion'] ">Se connecter</a></p>
        </form>
      </div>
    </div>
  </div>
</section>


