<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand color" href="#"><img alt="" src=""> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-4">
          <a class="nav-link" >
            <div class="icons">
              <i class="fa fa-home"></i>
              <i class="fa fa-home"></i>
            </div>
            <div class="name"><span data-text="Accueil">Accueil</span></div>
          </a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">
            <div class="icons">
              <i class="fa fa-cogs"></i>
              <i class="fa fa-cogs"></i>
            </div>
            <div class="name"><span data-text="Services">Services</span></div>
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  [routerLink]="'contact'"  >
            <div class="icons">
              <i class="fa fa-envelope"></i>
              <i class="fa fa-envelope"></i>
            </div>
            <div class="name" ><span data-text="Contact">Contact</span></div>
          </a>
        </li>
      </ul>
      <ul class="d-flex me-4 mb-2 mb-lg-0 list-unstyled ">
        <li>

          <p>Vous êtes un professionnel ?</p>
        </li>

        <li><a class="btn-top mx-2" [routerLink]=" 'connexion' " > Connexion</a></li>
        <li><a class="btn-top mx-2" [routerLink]=" 'inscription' "> Inscription</a></li>
      </ul>
    </div>
  </div>
</nav>


