<body>
<footer class="footer">
  <div class="container">
    <div class="sec aboutus">
      <h2>Centre Auto Ccas</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur dignissimos
        tenetur vel? Alias commodi eaque earum error inventore itaque magnam odit perspiciatis,
        quo reprehenderit veritatis voluptas voluptate? </p>
      <ul class="sci">
        <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="sec quickLinks">
      <h2>Liens utiles</h2>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
        <li><a href="#">Termes et conditons</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="sec contact">
      <h2>Nous contacter</h2>
      <ul class="info">
        <li>
          <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
          <span>
                        69 rue de Gaston <br>
                        69800 Saint-priest </span>
        </li>
        <li>
          <span><i class="fa fa-phone" aria-hidden="true"></i></span>
          <p><a href="tel:06 28 61 85 06">06 28 61 85 06</a><br>
            <a href="tel:04 78 61 85 06">04 78 61 85 06</a>
          </p>
        </li>
        <li>
          <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <p><a href="mailto:MrLodevie@gmail.com ">MrLodevie@gmail.com </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyrightText">
  <p>Copyright © 2021 Yassine. All Rights Reserved</p>
</div>
</body>




