<body>
<div class="container">
  <div class="main">
    <div class="topbar">
      <a> Déconnexion</a>

      <a [routerLink]=" ['/accueil']">Accueil</a>
    </div>
    <div class="row">
      <div class="col-md-4 mt-1">
        <div class="card text-center sidebar">
          <div class="card-body">
            <img src="" alt="">
            <div class="mt-3" >
              <h3 > {{user.lastname}} </h3>

              <a href="">{{user.firstname}}</a>
              <a href="">{{user.id}}</a>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-1">
        <div class="card mb-3 content">
          <h1 class="m-3 pt-3">A propos</h1>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h5>Nom: {{user.username}}</h5>
              </div>
              <div class="col-md-9 text-secondary">
                Yass
              </div>
              <div class="col-md-3">
                <h5>Prénom</h5>
              </div>
              <div class="col-md-9 text-secondary">
                Assin
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Email</h5>
              </div>
              <div class="col-md-9 text-secondary">
                yassine@hotmail.fr
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Téléphone</h5>
              </div>
              <div class="col-md-9 text-secondary">
                06 28 61 85 06
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Numéro de SIRET</h5>
              </div>
              <div class="col-md-9 text-secondary">
                R54567768JH
              </div>
            </div>
          </div>
          <button> Modifier</button>
        </div>
        <div class="card mb-3 content">
          <h1 class="m-3">Ajouts récents</h1>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h5>fdgdgvfg</h5>
              </div>
              <div class="col-md-9 text-secondary">
                Reference n°3452343
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container border">
  <h1>Les tableaux Bootstrap</h1>
  <h2>Tableau toujours responsive</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Numéro de client</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
        <th>Sexe</th>
        <th>Mail</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Code postal</th>
        <th>Pays</th>
        <th>Nationalité</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Giraud</td>
        <td>Pierre</td>
        <td>28</td>
        <td>Masculin</td>
        <td>pierre.giraud@edhec.com</td>
        <td>23 avenue des Lilas</td>
        <td>Toulon</td>
        <td>83000</td>
        <td>France</td>
        <td>Française</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</body>


