<section>
  <div class="container">
    <div class="user signInBox">
      <div class="imgBox">
        <img src="assets/images/fond_decran.jpg"  alt="">
      </div>
      <div class="formBox">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <h2>Connexion</h2>
          <input type="text" formControlName="username" placeholder="Nom d'utilisateur">
          <input type="password" formControlName="password" placeholder="Mot de passe">
          <input  type="submit" value="Connexion"  >
          <p class="signUp">Vous n'avez pas de compte ? <a [routerLink]=" ['/inscription'] ">S'inscrire</a></p>
        </form>
      </div>
    </div>
  </div>
</section>

