<section>
  <div class="container">
    <div class="ad addAdBox">
      <div class="imgBox">
        <img src="assets/images/fond_decran6.jpg"  alt="">
      </div>
      <div class="adFormBox">
        <form [formGroup]="adForm" (ngSubmit)="submitAd()">
          <h2>Ajout d'annonce</h2>
          <div class="form-group">
            <input type="text" formControlName="title" placeholder="Titre">
          </div>
          <div class="form-group">
<!--            <label for="description" class="ms-3 text-secondary">Description</label>-->
          <textarea name="description" id="description" cols="30" rows="2">

          </textarea>
          </div>
          <div class="form-group">
            <input type="date" formControlName="releaseYear" placeholder="Mise en circulation">
          </div>
          <div class="form-group">
            <input type="number" formControlName="mileage" placeholder="mileage">
          </div>
          <div class="form-group">
            <input type="number" formControlName="price" placeholder="price">
          </div>
          <div class="form-group">
            <input type="text" formControlName="brand" value="brand_id" placeholder="brand">
          </div>
          <div class="form-group">
            <input type="text" formControlName="model" placeholder="model">
          </div>
          <div class="form-group">
            <input type="text" formControlName="fuel" placeholder="fuel">
          </div>
          <div class="form-group">
            <input type="file" formControlName="photos" placeholder="photos">
          </div>
          <div class="form-group">
            <input type="text" formControlName="garage" placeholder="Nom du garage">
          </div>
          <button class="btn btn-primary" type="submit">Valider</button>
        </form>
      </div>
    </div>
  </div>
</section>


<!--[disabled]="adForm.invalid"-->
