<div class="container">
      <h2> {{ad.title}} </h2>
  <div class="row" id="adDetails">
<!--    <div class="d-flex" >-->
      <div class="details col-12 ">
        <p class="badge rounded-pill btn-dark "> Description </p>
        <span>{{ad.description}}</span>
      </div>
<!--    </div>-->
      <div class="details col-4">
        <p class="badge rounded-pill btn-dark"> Marque </p>
        <span>{{ad.brand.name}}</span>
      </div>
      <div class="details col-4">
        <p class="badge rounded-pill btn-dark"> Modèle </p>
        <span>{{ad.model.name}}</span>
      </div>
      <div class="details col-4">
        <p class="badge rounded-pill btn-dark"> Carburant </p>
        <span>{{ad.fuel.name}}</span>
      </div>
      <div class="details col-4">
        <p class="badge rounded-pill btn-dark"> Kilométrage </p>
        <span>{{ad.mileage}}</span>
      </div>
      <div class="details col-4">
        <p class="badge rounded-pill btn-dark"> Date de mise en circulation </p>
        <span>{{ad.releaseYear}}</span>
      </div>
      <div class="details col-4">
        <p class="badge rounded-pill btn-dark"> Prix </p>
        <span>{{ad.price}} €</span>
      </div>
    </div>


</div>
