.container {
  border: darkred solid 4px;
  margin: 10px auto;
}

h2 {
  color: darkblue;
  font-style: italic;
}

.btn {
  padding: 10% 30%;
}

#adDetails {
  width: 100%;
  text-align: center;
  justify-content: space-around;
}
